<!DOCTYPE html>
<html>
    <head>
        <title>assignments</title>
    <head>
    <body>
        <center>
        <p>
        <tt>
            <big>
            <b style = "color:#000000;">1006 Assignment Descriptions</b>
            </big>
            </tt>
            <br />
            <br />
        </p>
        </center>
        <p>
        <b style  = "color:#000000;"">Favorite Assignment:</b>
        My favorite assignment was HW 1 because it was my first time coding in
        Python at Columbia. I remember staying up late at Butler to complete
        the assignment with some friends, and it just ended up being a really
        great memory. My second favorite assignment was writing code for the
        computer to process the input images a string of numbers (in the midterm). 
        It was a really enlightening moment for me as I was recognizing how 
        powerful CS is. I realized that the true bottleneck of computer science 
        lies in a human's ability or inability to express a phenomenon 
        computationally. For example, anything we're capable of modeling, a
        computer can run processes on which sounds like an obvious statement, but
        I was able to appreciate it more when I experience it firsthand on the 
        midterm. 
        </p>
        <p>
        <b style  = "color:#000000;"">HW 1:</b>
        In HW 1, we learned how to write pseudocode for an algorithm which takes 
        a decimal number as input converts it to binary. We also completed a truth 
        table and wrote code to complete basic functions such as printing letters
        and manipulating lists.
        </p>
        <p>
        <b style  = "color:#000000;"">HW 2:</b>
        HW2 showed us how to determine when Sort+Binary search makes sense over 
        Sequential Searchs. We also learned how to compute different time
        complexities and simulated projectile motion.
        </p>
        <p>
        <b style  = "color:#000000;"">HW 3:</b>
        HW 3 taught us how to build a complete application that will analyze a 
        real world dataset, and this was our first instance of these type of 
        projects. Here, we wrote a Percolation module to solve a vertical
        percolation problem.
        </p>
        <p>
        <b style  = "color:#000000;"">HW 4:</b>
        In HW 4, I learned the basis of object-oriented programming. Here, we were 
        given an unfinished code and had to work back to create classes, objects,
        and functions to complete missing parts of the code. 
        </p>
        <p>
        <b style  = "color:#000000;"">HW 5:</b>
        HW5 completed our machine learning library as we worked to implement
        additional functionalities and features. Examples of these features are 
        plotting more advanced information using seabord and using panda to provide
        some stats on a dataset.
        </p>
        <p>
        <b style  = "color:#000000;"">Midterm:</b>
        The midterm project had us write code to edit image files. Here, we learned
        to store values from an image and use this information to manipulate the data
        that would, in turn, cause the output image to turn gray, flip, or 
        remove unwanted objects from the image.
        </p>
        <p>
        <b style  = "color:#000000;"">Final:</b>
        I got to design the back end for a web application about me and the classes
        I've taken at Columbia so far. Here, we were asked to use Flask to create
        a basic server.
        </p>
        <center>
        <p>
        <br />
        <br />
            <img src="static/assignments.jpg"
            width = "1600" height = "800" alt="pic">
        </p>
        </center>
    </body>
</html>
            
