<!DOCTYPE html>
<html>
    <head>
        <title>Arianna Pahlavan</title>
    <head>
    <body>
        <center>
        <p>
        <tt>
            <big>
            <b style = "color:#000000;">Completed Courses</b>
            </big>
            </tt>
            <br />
            <br />
        </p>
        </center>
        <p>
        <b style  = "color:#000000;"">My favorite class:</b>
        Introduction to Electricity, Magnetism, and Optics and Intro to Computer
        Science for Eng/App Sci pushed me beyond my comfort zone to imagine the world
        in ways I haven't yet before. I enjoyed the academic challenge and
        felt the most growth through these courseworks. Additionally, as part of the Iranian 
        Diaspora living in America, Intermediate Persian 2 was a rewarding experience to
        reconnect with my culture.
        
        
        </p>
        <table style="width:100%">
        <tr>
            <th>Class Name</th>
            <th>Professor</th>
        </tr>
        <tr>
            <td>University of Writing: Contemporary Essays</td>
            <td>Chris Klippenstein</td>
        </tr>
        <tr>
            <td>Introduction to Mechanics & Thermodynamics</td>
            <td>Abhay Pasupathy</td>
        </tr>
        <tr>
            <td>General Chemistry</td>
            <td>Robert Beer</td>
        </tr>
        <tr>
            <td>Calculus 1</td>
            <td>Daniele Alessandrini</td>
        </tr>
        <tr>
            <td>Elementary Persian 1</td>
            <td>Michelle Quay</td>
        </tr>
        <tr>
            <td>Calculus 2</td>
            <td>Semen Rezchikov</td>
        </tr>
        <tr>
            <td>Introduction to Electricity/Magnetism & Optics</td>
            <td>Georgia Karagiorgi</td>
        </tr>
        <tr>
            <td>Intermediate Persian 2</td>
            <td>Saeed Honarmand</td>
        </tr>
        <tr>
            <td>Principles of Economics</td>
            <td>Sunil Gulati</td>
        </tr>
        <tr>
            <td>The Art of Engineering</td>
            <td>David Vallancourt</td>
        </tr>
        <tr>
            <td>Intro to Comp Sci for Eng/App Sci</td>
            <td>Timothy Paine</td>
        </tr>
        </table>
        <center>
        <p>
        <br />
        <br />
            <img src = "static/classes.jpg"
            width = "330" height = "153" alt="pic">
        </p>
        </center>
    </body>
</html.>
