<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
    <head>
    <body>
        <center>
        <p>
            <tt>
            <big>
            
            <b style = "color:#000000;">Arianna Pahlavan</b>
            </big>
            </tt>
            <br />
            <br />
            <img src = "static/me.jpg"
            width = "200" height = "220" alt="pic">
        </p>
        <hr width = "50%" style = "color:#000000;">
        <p>
            <small style = "color:#000000;">
            Freshman at Columbia University in the City of New York
            <br />
            <br />
            Applied Mathematics Major
            </small>
        </p>
        <hr width = "50%" style = "color:#000000;">
        <p>
            <small style = "color:#000000;">
            <a href= "https://www.forbes.com/sites/francesbridges/2019/04/30/how-trump-embodies-the-definition-of-a-bad-leader/#647b32ed5c0c">Favorite Website</a>
            <br />
            <a href="/classes">Classes</a>
            <br />
            <a href="/assignments">Assignments</a>

            </small>
        </p>
        </center>
    </body>
            
            
</html>

